<style>
  /* 공통 비디오 컨테이너 스타일 */
  .video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 1.5em auto; /* 위아래, 그리고 좌우 자동 여백(가운데 정렬) */
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* 가로 영상 (16:9) 스타일 */
  .video-container-16x9 {
    padding-bottom: 56.25%;
  }

  /* 세로 영상 (9:16) 스타일 */
  .video-container-9x16 {
    padding-bottom: 177.78%; /* 16 / 9 * 100 */
    max-width: 360px; /* 세로 영상의 최대 너비 제한 */
  }
</style>

{% if include.ratio == "9:16" %}
  {% assign container_class = "video-container-9x16" %}
{% else %}
  {% assign container_class = "video-container-16x9" %}
{% endif %}

<div class="video-container {{ container_class }}">
  <iframe
    src="https://www.youtube.com/embed/{{ include.id }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
